// [app-header] {
//     z-index: 1;
//     height: 8rem;
//     --background: #dc4649;
//     --border-style: none;
//         ion-avatar {
//             margin-top: 1rem;
//             margin-left: auto;
//             margin-right: auto;
//             width: 6rem;
//             height: auto;
//         }
// }

[app-header] {
    height: 8rem;
    --background: #dc4649;
    --border-style: none;
    text-align: center;
    img {
        margin-top: .66rem;
        width: 6rem;
        height: auto;
    }
}
