:host {
    .background-img {
        --background: url("../../assets/stock-photos/landing-background.jpg") 0 0/100% 100% no-repeat;
    }
}

ion-card {
    top: 40%;

    [login-btn] {
        margin-top: 24px;
        width: 95%;
    }

    ion-item {
        --padding-start: 0;
    }

    ion-card-content {
        padding: 0 0 1rem 0;
        margin-right: 16px;
        margin-left: 16px;
    }
}

[center-align] {
    margin: 12px;
}
