[app-header] {
    height: 6.5rem;
    --background: var(--ion-color-primary);
    --border-style: none;
    text-align: center;
    img {
        margin-top: 0.05rem;
        width: 3rem;
        height: auto;
    }
}

[icon-col] {
    text-align: left !important;
    vertical-align: super;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    ion-icon {
        transform: scaleX(-1);
    }
}

ion-segment {
    margin-bottom: 16px;
}

ion-item {
    --padding-start: 0;
    div {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 8px;
        margin-left: 8px;
    }
}

[section-header] {
    margin-left: 8px;
    font-family: "Arvo", serif;
    font-size: 18pt;
}

[menu-item] {
    [header] {
        font-family: "Arvo";
        font-size: 14pt;
        margin-left: 12px;
    }
}

[no-border] {
    margin-bottom: 16px;
    --border-style: none;
}

[location-item] {
    margin-top: 1.5rem;
    margin-bottom: 0;
    ion-row {
        ion-col {
            text-align: right;
        }
        [location-btn] {
            vertical-align: sub;
            display: inline-flex;
        }
        ion-icon {
            padding-left: 4px;
        }
    }
}
