[section-header] {
    margin-left: 8px;
    font-family: "Arvo", serif;
    font-size: 18pt;
}

[no-border] {
    margin-bottom: 16px;
    --border-style: none;
}

[location-item] {
    margin-bottom: 0;
    ion-row {
        float: right;
        [location-btn] {
            display: inline-flex;
        }
        ion-icon {
            padding-left: 4px;
        }
    }
}

ion-segment {
    margin-bottom: 16px;
}

[menu-item] {
    [header] {
        font-family: "Arvo";
        font-size: 14pt;
        margin-left: 12px;
    }
}
