<ion-header>
    <ion-toolbar app-header>
        <img src="{{data?.merchantLogo}}" alt="restaurant logo">
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!this.data.showLoader">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item no-border location-item>
        <ion-grid>
            <ion-row>
                <ion-label color="primary" (click)="presentLocationModal()" location-btn>
                    <ion-label>{{activeLocation}}</ion-label>
                    <ion-label>
                        <ion-icon name="location-sharp"></ion-icon>
                    </ion-label>
                </ion-label>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item no-border>
        <ion-searchbar [(ngModel)]="searchValue" (ionChange)="search($event)"></ion-searchbar>
    </ion-item>

    <ion-segment (ionChange)="segmentChanged($event)" color="primary" mode="ios" scrollable="true"
        value="{{defaultSegment}}">
        <ion-segment-button *ngFor="let category of menu" value="{{category.name}}">
            <ion-label>{{category.name}}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div menu-item *ngFor="let section of shownMenu">
        <ion-item *ngFor="let item of section.items" [hidden]="item.hidden">
            <ion-label color="secondary" header>{{item.name}}</ion-label>
            <ion-toggle checked="{{item.is_active}}" color="primary" (ionChange)="itemToggle($event, item.name)"
                mode="ios"></ion-toggle>
        </ion-item>
    </div>

</ion-content>