<ion-content [fullscreen]="true" *ngIf="!this.data.showLoader">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item no-border location-item>
        <ion-grid>
            <ion-row>
                <ion-button fill="clear" color="primary" (click)="presentLocationModal()">
                    <ion-label>{{activeLocation}}</ion-label>
                    <ion-label>
                        <ion-icon name="location-sharp"></ion-icon>
                    </ion-label>
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item no-border>
        <ion-searchbar [(ngModel)]="searchValue" (ionChange)="search($event)"></ion-searchbar>
    </ion-item>

    <ion-segment (ionChange)="segmentChanged($event)" color="primary" mode="ios" scrollable="true"
        value="{{defaultSegment}}">
        <ion-segment-button *ngFor="let category of menu" value="{{category.name}}">
            <ion-label>{{category.name}}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div menu-item *ngFor="let section of shownMenu">
        <ion-item *ngFor="let item of section.list" [hidden]="item.hidden">
            <ion-label color="secondary" header>{{item.header}}</ion-label>
            <ion-toggle checked="{{item.isActive}}" color="primary" (ionChange)="itemToggle($event, item.header)"
                mode="ios"></ion-toggle>
        </ion-item>
    </div>

</ion-content>

<ion-toolbar *ngIf="this.data.showMenuUpdateButton" update-section>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button fill="outline" (click)="cancelChanges()">
                    <ion-label>Cancel</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="saveChanges()">
                    <ion-label>Save</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>